.aboutmain{
    width: 100%;
    height: 120vh;
    margin-top: -1vh;
    background: #0C1416;
    display: flex;
    flex-direction: column;
}
.about-info{
    
    display: flex;
    flex-direction: column ;
    margin: 70px auto 20px ;
    text-align: center;
}
.about-grid{
    margin: 0 auto;
    display: grid;
    height: 60%;
    grid-template-columns: 1fr 1fr 1fr;
}
.aboutmain{
    position: relative;
}
.about-img{
    z-index: 10;
    margin: 0 20px;
}
.about-bettween{
    display: grid;
    place-items: center;
}
.two-line{
    height: 100%;
    width: 80%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    border-left: 0.5px solid #1A1E20;
    border-right: 0.5px solid #1A1E20;
    position: absolute;
    z-index:  0;
}
.about-info .title2{
    font-size: 60px;
    line-height: 60px;
    display: grid;
    place-items: center;
    margin: 0;
    justify-content: center;
    text-align:center;
    letter-spacing: 0;
    margin-block-end: 0px;
}
@media (max-width:426px){

    .aboutmain{
        width: 100%;
        height: fit-content;
        margin-top: -1vh;
        background: #0C1416;
        display: flex;
        flex-direction: column;
    }
    .about-img{
        z-index: 10;
        margin: 30px auto;
        display: grid;
        place-items: center;
        width: 98%;
    }
    .about-bettween{
        height: 50vh;
    }
    .about-img img {
       width: 90%;
       margin: 0 auto;
    }
    .about-grid{
        margin: 0 auto;
        display: grid;
        width: 100%;
        height: 60%;
        grid-template-columns: 1fr ;
    }
    .about-info .title2{
        font-size: 40px;
        line-height: 40px;
        
    }
    .about-info .title3{
        font-size: 18px; 
    }
    .about-info{
        width: 80%;
       
    }
    p::after{
        background: none !important;
    }
    p::before{
        background: none !important;
    }
}