
.formcontact{
    height: 70vh;
    width: 100%;
}

.formcontact .form{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}   

.formcontact .form img{
    object-fit: contain;
   
    height: 100%;
   
}
.formcontact  .form .info-form{
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    background: #0C1416;
    opacity:0.9;
  
}
.formcontact .info-form .elements-form{
    margin-left: 50px;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.formcontact .info-form .elements-form .row-button{
    display: flex;
    flex-direction: column !important;

}

.formcontact .info-form .elements-form .row-button input{
    font-size: 20px;
    width: 70%;
    margin: 10px auto;
    cursor: pointer;

}
.formcontact .info-form .elements-form .slider-buttons{
    display: grid;
    place-items: center;
    font-size: 20px;
    margin:0px auto !important;

}
.formcontact .info-form .text-title .title2 {
    font-size: 40px;
    line-height: 40px;
    margin:0;
}

.formcontact .info-form .text-title .title3 {
    text-align: center;
}
.formcontact .info-form .text-title  {
    margin-top: 30px;
}
@media (max-width:426px){
    .formcontact .form{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }   
    .formcontact .form img{
        object-fit: contain;
       
        width: 100%;
       
    }
    .formcontact{
        height: 100vh;
    }
    .formcontact  .form .info-form{
        width: 100%;
    }
     
}