.icon-about{
    background: #0C1416;
    height: 60vh;
    display: grid;
    place-items: center;
}
.icon-grid{
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.icon-grid-el{
    display: grid;
    place-items: center;
}
.icon-grid-el .title2{
    letter-spacing: none;
  font-size: 25px;
  line-height: 25px;
}
.icon-grid-el .title2::before{
    content:'';
    background: none;
}
.icon-grid-el .title2::after{
    content:'';
    background: none;
  }
.icon-grid-el .title3{
    font-size: 20px;
    margin: 0;
    font-weight:400 ;
text-align: center;
}