
ul{
    padding: 0;
    margin: 0;
}

a{
    font-family: 'Josefin Sans', sans-serif;
     color: #ffffff;
    text-decoration: none;
}
a:hover{
    color: #C9AB82;
   text-decoration: none;
}
.dropdown-menu .list_menu .active{
  color: #C9AB82 !important;
}
.header .menu ul li .active{
  color: #C9AB82 !important;
}
a:focus{
    color:#C9AB82;
    text-decoration: none;
}
.header{
    width: 100%;
    height: 15vh;
    background: #0C1416;
    display: grid;
    place-items: center;
    border-bottom: 1px solid #C9AB82;
   
}
.menu .icon-main{
    margin-bottom: 5px !important;
}
.menu  ul{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.menu  ul img{
  margin: 0 auto !important;
}

.menu .logo{
    margin: 0 35px !important;
}

.menu{
    display: flex;
    margin:0 auto;
    height: fit-content;
    align-items: flex-end;
    
}


.list_menu{
   
    padding: 0;
    color: #FFFFFF;
    display: flex;
    font-size: 20px;
    text-align: center;
    align-items: center;
    list-style: none;
}
.list_menu li:hover{
    color: #C9AB82;
}
.list_menu li{
    
    text-align: right;
    margin: 0 20px;
}
.responsive_menu{
    margin-right: 30px;
}
.responsive_menu .btn {
    width: 50px;
    height: 100%;
    cursor: pointer;
  }

  .responsive_menu span {
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
    border-radius: 5px;
    height: 5px;
    background: #C9AB82;
    transition: all .3s;
    position: relative;
  }
  
  span + span {
    margin-top: 10px;
  }
  
  /*.responsive_menu .active span:nth-child(1) {
    animation: ease .7s top forwards;
  }
  
  .responsive_menu .not-active span:nth-child(1) {
    animation: ease .7s top-2 forwards;
  }
  
  .responsive_menu .active span:nth-child(2) {
    animation: ease .7s scaled forwards;
  }
  
  .responsive_menu .not-active span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
  }
  
  .responsive_menu .active span:nth-child(3) {
    animation: ease .7s bottom forwards;
  }
  
  .responsive_menu .not-active span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
  }
  */
  @keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }
    50% {
      top: 10px;
      transform: rotate(0);
    }
    100% {
      top: 15px;
      transform: rotate(45deg);
    }
  }
  
  @keyframes top-2 {
    0% {
      top: 22px;
      transform: rotate(45deg);
    }
    50% {
      top: 22px;
      transform: rotate(0deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }
  
  @keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    50% {
      bottom: 10px;
      transform: rotate(0);
    }
    100% {
      bottom: 15px;
      transform: rotate(135deg);
    }
  }
  
  @keyframes bottom-2 {
    0% {
      bottom: 22px;
      transform: rotate(135deg);
    }
    50% {
      bottom: 22px;
      transform: rotate(0);
    }
    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }
  
  @keyframes scaled {
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes scaled-2 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
/* */
@media (max-width:1441px){
    .list_menu{
        font-size: 18px;
    }
}
@media(max-width:1025px){
    .header .menu .icon-main{
        display: none !important;
    }
}
@media(max-width:1025px){
    .list_menu{
        font-size: 16px;
    }
    .menu .logo{
        margin: 0 20px !important;
    }
}

@media(max-width:769px){
    .header{
        position: relative;
        height: 10vh;     
            display: flex;
            justify-content: space-between;
    }
    .logo{
        margin-left:20px;
    }
    .dropdown-menu{
        top:100%;
        right: 0;
        z-index: 200;
        width: 100%;
        height: 90vh;
        background-color:rgba(0, 0, 0, 0.8);
        position: absolute;
    }
    .dropdown-menu .list_menu{
        margin: 80px;
        display: flex;
        flex-direction: column;
    }
    .dropdown-menu .list_menu li{
        margin: 10px auto;
        font-size: 30px;
    }
}